@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PTA/Views/Shared/_Layout.cshtml";
}
<style>
    hr {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
</style>
<script src="~/assets/js/ptamatrix/jsmatrix.js"></script>
<title>Registration</title>
<div class="content-wrapper">
    <section class="content-header">
        <h1>Registration</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="alert alert-success fade in alert-dismissable text-center" id="dvMsg" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong id="lblMsg"></strong>
                        </div>
                        <div class="row col-md-12 table-responsive">
                            <table id="tblPilotRegistration" class="table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="no-sort">Sr.No</th>
                                        <th>Reg.No</th>
                                        <th>Student Name</th>
                                        <th>EmailID</th>
                                        <th>Mobile No</th>
                                        <th>DOB</th>
                                        <th>Gender</th>
                                        <th>Source</th>
                                        <th>Course</th>
                                        <th>Reg.Date</th>
                                        <th class="no-sort" style="text-align:center">
                                            Notifications <br /><hr /> Screening Fee <br />
                                            <input id="chkall" type="checkbox" /> &nbsp;&nbsp; <button type="button" id="btnsendemail" onclick="SendScreenninginitailexamfeenotification();" class="btn btn-primary btn-xs" disabled>Send mail</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbpilotregistrationdata"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:85% !important">
        <div class="modal-content" id="divscreenmodel">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getpilotcandidatelist();
        $(".hasbeen").each(function () {
            $(this).prop('checked', true);
            $(this).attr('disabled', 'disabled');
        });
        $("input[name='yes']").change(function () {
            if ($('.initial:checked').length > 0)
                $('#btnsendemail').removeAttr('disabled');
            else
                $('#btnsendemail').attr('disabled', 'disabled');
        });
    });

    $('#chkall').change(function () {
        if ($(this).prop('checked')) {
            $(".initial").each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $(".initial").each(function () {
                $(this).prop('checked', false);
            });
        }
        if ($('.initial:checked').length > 0)
            $('#btnsendemail').removeAttr('disabled');
        else
            $('#btnsendemail').attr('disabled', 'disabled');
    });

    function SendScreenninginitailexamfeenotification() {
        var regarr = [];
        $(".initial").each(function () {
            if ($(this).prop('checked'))
                regarr.push($(this).attr('regno'));
        });
        if (regarr.length > 0) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/PTA/Registration/SendExamFeeNotification",
                data: { RegNoArr: regarr },
                async: false,
                success: function (response) {
                    if (response != null > 0) {

                    }
                },
                complete: function () {
                    StopLoading();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed!');
                }
            });
        }
    }
</script>