@{
    ViewBag.Title = "View Registration";
}
<title>Registration</title>
<style>
    .abc {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0.333em;
        padding: 0.5em 1em;
        border: 1px solid #999;
        border-radius: 2px;
        cursor: pointer;
        font-size: 0.88em;
        color: black;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            View Registration
            @*<small><a href="/Registration/Create" class="">&nbsp;<i class="glyphicon glyphicon-plus-sign btn-plus"></i><b>New Registration</b> </a></small>*@
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> &nbsp;View Registration</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <div class="alert alert-success fade in alert-dismissable text-center" id="dvMsg" style="display:none;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong id="lblMsg">@TempData["msg"]</strong>
                        </div>
                        <div class="row col-md-12 table-responsive">
                            <table id="tblRegistration" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Reg.No</th>
                                        <th>Student Name</th>
                                        <th>EmailID</th>
                                        <th>Mobile No</th>
                                        <th>DOB</th>
                                        <th>Gender</th>
                                        <th>Source</th>
                                        <th>Payment By</th>
                                        <th>Course</th>
                                        <th>Reg.Date</th>
                                        <th width="14%">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row" id="divmainactivity" style="display:none">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="box-title">Current Top 3 Activities</h3>
                    </div>
                    <div class="box-body" id="divActivity">
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1140px !important">
        Re Registration
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Re-Registration History</h4>
            </div>
            <div class="modal-body">
                <div id="divHistoryDetail">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ================================ Screenning Test  ====================================== -->

<div class="modal fade" id="modal-default" role="dialog">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header topHeadingtxt">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title topHeaderfontsize ">CABIN CREW INTERVIEW ASSESSMENT SHEET</h4>
            </div>
            <div class="modal-body" id="screenModel">
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="pointer-events: all;">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="SettleDate" class="form-control" placeholder="Change Date" autocomplete="off" onkeydown="return false;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" onclick="return false">
                        <div class="row">
                            <div class="col-md-7 Select_rejectDv">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="radio" style="cursor:default">
                                            Selected
                                            <input type="radio" id="rdbSelected" name="result">
                                            <span class="checkround"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="radio" style="cursor:default">
                                            Rejected
                                            <input type="radio" id="rdbRejected" name="result">
                                            <span class="checkround"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 Select_rejectDv1">
                                <div class="row">
                                    <div class="col-md-8" style="padding-top:7px;">
                                        <label style="font-size:18px;font-weight:400">
                                            <input type="checkbox" id="chkstandby" onclick="IsScreenningStandBy();" class="flat-red"> Stand-By
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DropDownList("ddlBatch", new SelectList(Model, "Id", "BatchName"), new { @class = "form-control" })
                            </div>
                            <div class="col-md-8">
                                <button type="button" id="btnSubmitScreenTest" onclick="submitScreenTest();" class="btn btn-success" disabled>Save changes</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- ====================================================================== -->

<script>
    $(document).ready(function () {
        TableCourseFilter = 8;
        Table = $("#tblRegistration").DataTable(registertblSetting("tblRegistration", "GetRagisterList", "Registration", 1));
        $.fn.dataTable.ext.errMode = 'throw';
        $('.buttons-excel').css('display', 'none');
        $('.dt-buttons').append("<img src='/Images/excel-icon-transparent-18.jpg' height=32px; width=60px; onclick='btnexport();' title='Export' style='border:1px solid;border-color:#f5eeee;cursor: pointer;' />");
        checkMsg();
        getUserActivities('Registration');
    });

    function OpenReregistrationHistory(Email, Mobile) {
        Email = (Email == "null" ? null : Email);
        Mobile = (Mobile == "null" ? null : Mobile);
            $('#divHistoryDetail').empty();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("ReResistrationOpenModelPopup", "Registration"))",
                data: { Email: Email, Mobile: Mobile  },
                success: function (data) {
                    $('#divHistoryDetail').append(data);
                    $('#myModal').modal('show');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed!');
                }
            });
    }

        function openScreenPopUpModelToShow(regNo, obj) {
            $('#screenModel').empty();
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("ScreeningTestOpenModelPopupShow", "Registration"))",
                data: { RegNo: regNo},
                success: function (data) {
                    $('#hdnBtnText').val($(obj).text());
                    $('#screenModel').append(data);
                    $('#modal-default').modal('show');
                    CandidateSelectedRejected();
                    $('.form-group').addClass('disableCtrl');
                    $('.hidectrl').addClass('disableCtrl');
                    $('#btnSubmitScreenTest').hide();
                    $('.Select_rejectDv1').hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed!');
                }
            });
    }
</script>


